// COLORS
$color-primary: #333333;
$color-text: #151515;
$color-green: #6A983C;
// Container
$width-container: 1260px;
$p-container: 30px;

// FONTS
$font-open:'Open Sans', sans-serif;
$font-popins: 'Poppins', sans-serif;

