.info__summary {
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}
.summary__des {
  margin-bottom: 40px;
}
.summary__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: $color-text;
  margin-bottom: 4px;
  margin-left: 16px;
  margin-top: 32px;
}
.summary__text {
  font-family: $font-open;
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
  margin-left: 16px;
}
.summary__product {
  display: flex;
  margin-bottom: 50px;
  margin-left: 16px;
}
.summary__img {
  width: 100px;
  height: 67px;
  border-radius: 12px;
  margin-bottom: 12px;
}
.summary__item {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.summary__item::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("../../../img/info-img/summary-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 8px;
}
.summary__item:nth-child(2)::before {
  background-image: url("../../../img/info-img/summary-2.png");
}
.summary__item:nth-child(3)::before {
  background-image: url("../../../img/info-img/summary-3.png");
}
.summary__money {
  margin-left: 16px;
}
.summary__money-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $color-text;
  margin-bottom: 4px;
}
.summary__money-item {
  display: flex;
}
.summary__money-text {
  font-size: 12px;
  line-height: 16px;
  color: #a9a9a9;
  margin-bottom: 8px;
}
.summary__money-subtext {
  font-family: $font-open;
  font-size: 12px;
  line-height: 16px;
  margin-left: 41px;
}
.mny {
  margin-left: 14px;
}
.bxs-star {
  color: #fdbc15;
}
.bx-star {
  color: #ebebeb;
}
.summary__sale {
  display: flex;
  margin-top: 17px;
}
.summary__sale-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: $color-green;
}
.summary__sale-span {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a9a9a9;
}
.summary__lists {
  display: flex;
  justify-content: space-between;
}
.summary__listss {
  margin-left: 16px;
  margin-right: 16px;
}
.summary__items {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-text;
  margin-bottom: 12px;
}
.summary__forms {
  position: relative;
  display: flex;
  justify-content: center;
}
.summary__inp {
  width: 436px;
  background: #f9f9f9;
  border: 1px solid #d1d1d1d1;
  border-radius: 12px;
  padding: 12px 16px;
  font-family: $font-open;
  font-size: 14px;
  line-height: 19px;
  color: #a9a9a9;
  margin-top: 32px;
  margin-bottom: 111px;
  transition: border-color 0.2s ease;
  outline: $color-green;
  &:hover {
    border-color: $color-green;
  }
}
.summary__btn {
  position: absolute;
  right: 32px;
  top: 42px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  @include links;
  color: $color-text;
}
.summary__bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  padding-bottom: 32px;
}
.summary__bottom-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-text;
}
.summary__bottom-subtext {
  font-size: 12px;
  line-height: 16px;
  color: $color-green;
}
.summary__bottom-textgreen {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: $color-green;
}